[package]
name = "dot_db"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true

[lints]
workspace = true

[dependencies]
rusqlite = { version = "0.33", features = ["bundled"] }

[dev-dependencies]
tempfile = "3.10"
