[package]
name = "dot_rt"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true

[lints]
workspace = true

[dependencies]
dot_dsl = { path = "../dot_dsl" }
dot_sec = { path = "../dot_sec" }
