[submodule "frontend"]
	path = frontend
	url = git@github.com:ademclk/dotlanth-frontend.git
[submodule "core"]
	path = src/core
	url = git@github.com:ademclk/dotlanth-core.git
[submodule "forge"]
	path = src/forge
	url = git@github.com:ademclk/dotlanth-forge.git
